body{
    margin: auto;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.tart{
    margin-top: 600px;
    width: 100%;
    background-color: white;
    height: 600px;
}
.bg-piros{
    background-color: rgb(74, 4, 1);
}