body{
    margin: auto;
    scroll-behavior: smooth;
}

.bg-orange{
    background-color: #f07e18;
}

.kepp{
    width: 100%;
    height: 750px;
    background-image: url('kpep-transformed-ZM0_4YFuW-transformed.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.containerr{
    margin: auto;
}

.containerr h1, h2{
    text-align: center;
    margin-top: 50px;
}

.row{
    margin-top: 150px;
}

h4{
    padding: auto;
}

.paddb{
    padding-left: 40%;
    padding-top: 25%;
}

.paddj{
    padding-left: 25%;
    padding-top: 25%;
}

.containerr>div{
    margin-bottom: 250px;
}